<h1>{{ title }}</h1>

{% if errors %}
    <ul style="color: red;">
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}

<form method="post">
    Имя: <input name="name" value="{{ form.name|e }}"><br>
    Email: <input name="email" value="{{ form.email|e }}"><br>
    Сообщение:<br>
    <textarea name="message">{{ form.message|e }}</textarea><br>
    <button>Отправить</button>
</form>
